<div class="container">
    <div class="header">
      <h1>Siva Transports</h1>
      <p>Welcome! Please select a module to continue:</p>
    </div>
  
    <div class="modules">
      <div class="module-card user" (click)="tran()">
        <h2>User</h2>
        
      </div>
  
      <div class="module-card driver">
        <h2>Driver</h2>
        
      </div>
  
      <div class="module-card admin" >
        <h2>Admin</h2>
        
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-content">
      <p>Contact Us</p>
      <div class="social-icons">
        <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
          <img src="public/insta.jpeg" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
          <img src="public/Facebook.jpeg" alt="Facebook" />
        </a>
        <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
          <img src="public/Twitter.jpeg" alt="Twitter" />
        </a>
      </div>
    </div>
  </footer>